{{#partial "content"}}
    <h2>Blog</h2>
    <div>
        {{#if recentBlogPostsResult.noResults}}
            <div>{{recentBlogPostsResult.noResultsMessage}}</div>
        {{else}}
            {{#each recentBlogPostsResult.blogPosts}}
                <div class="blogPostPreview">{{title}}</div>
            {{/each}}
        {{/if}}
    </div>
{{/partial}}
{{> base}}