{{#partial "content"}}
    <h2>Blog</h2>
    <div>
        {{#if blogPostsResult.noResults}}
            <div>{{blogPostsResult.noResultsMessage}}</div>
        {{else}}
            {{#each blogPostsResult.blogPosts}}
                <div class="blogPostPreview">{{title}}</div>
            {{/each}}
        {{/if}}
    </div>
{{/partial}}
{{> base}}