{{#partial "content"}}
    {{#with blogPostResult}}
        {{#unless postExists}}
            {{postNotExistsMessage}}
        {{else}}
            <h3>{{title}}</h3>
            <div>{{post}}</div>
        {{/unless}}
    {{/with}}
{{/partial}}
{{> base}}