{{#partial "content"}}
    <h1>Blog</h1>
    <div>
        {{#unless blogPostsResult.noResults}}
            {{#each blogPostsResult.blogPosts}}
                <div class="blogPostPreview">{{title}}</div>
            {{/each}}
        {{else}}
            {{blogPostResult.noResultsMessage}}
        {{/unless}}
    </div>
{{/partial}}
{{> base}}