{{#partial "content"}}
    <div>
        <div class="row">
            <div class="col-md-4 text-center">
                <img src="/resource/img/mole.jpg" alt="Cameron Strange" class="img-thumbnail"/>
            </div>
            <div class="col-md-8">
                <h2 class="text-center">Cameron Strange</h2>
                <div>
                    <p>
                        I am an English graduate from the University of York. My time at university was both the
                        most enjoyable but also the most progressive in terms of personal development. I learnt that
                        I am a personable team player with excellent people skills and the self-motivation to achieve
                        anything put in front of me given the opportunity. At university I have developed
                        transferable skills, alongside continuous academic success, through the position of rugby
                        captain of Derwent College.
                    </p>
                    <p>
                        <strong>
                            BA English and Related Literature (University of York) 2012-2015: Second Class Honours
                        </strong>
                    </p>
                    <p>
                        <strong>
                            A Levels: English A*, Art A*, Geography A
                        </strong>
                    </p>
                    <p>
                        <strong>
                            GCSEs: 6 A*s 4 As
                        </strong>
                    </p>
                </div>
            </div>
        </div>
        <h3>Key Skill Set</h3>
        <ul>
            <li>Team Player</li>
            <li>Captain of Derwent College RUFC, elected by club members</li>
            <li>Bar Manager at Spains Hall wedding venue</li>
            <li>College Fresher Coordinator</li>
            <li>Teaching assistant for school art department</li>
            <li>Enterprising and Creativity</li>
            <li>Set-up The Naked Gardener business in the summer of my first year of university</li>
            <li>Secured £400-worth of college funding for the 2014 season to facilitate the purchase of much needed range of training equipment</li>
            <li>Re-designed Rugby Club ethos and policy to attract new players to raise playing standard of the team, resulting in winning inter-college cup and selection for inter-university competition</li>
            <li>Developed social media marketing to improve public profile of rugby club resulting in tenfold increase in site hits</li>
            <li>Created advertising to promote my services as a gardener within in a 10 mile radius from my home</li>
            <li>Personable</li>
            <li>Developed communicational skills through correspondence with clients over phone and email</li>
            <li>Forged relationships with clients through face-to-face interaction, which helped secure future business</li>
            <li>Maintained and developed relationships with national and local sponsors as rugby captain</li>
        </ul>
        <h3>Experience</h3>

        <h4><span>Captain Derwent College Rugby Union FC</span>&nbsp;<small>March 2013 - March 2014</small></h4>
        <p>
            Developed diplomacy and leadership skills on and off the field through having to make key decisions for the benefit of the team
            As captain I was able to develop a personal understanding of the team and highlight individual ability
            Organisational and planning experience through having to maintain a weekly training schedule and preparing for match day
            Responsible for maintaining, promoting and marketing the club’s image
            Supervising and mentoring younger team members
            Comprehensive experience organising and chairing meetings for college rugby in order to manage fixtures and develop relationships between the university and college rugby bodies
        </p>

        <h4><span>The Naked Gardener</span>&nbsp;<small>June 2013 - Present</small></h4>
        <p>
            Started gardening in the holidays to fund my way through university and in order to make a change from the monotony of bar work
            Experience of promoting a brand - The Naked Gardener - in order to attract potential clients
            My self-motivation has made this a success for three years by working in the holidays in between university
            Profited from an understanding of my market despite the demand outside of my working radius.
        </p>

        <h4><span>Work Experience - Tysers</span>&nbsp;<small>April 2015</small></h4>
        <p>
            I was able to experience the Lloyds market whilst shadowing a broker
            sat in on dealings with underwriters.
        </p>

        <h4><span>Bar Manager - Spains Hall Wedding Venue</span>&nbsp;<small>May 2011 - 2014</small></h4>
        <p>
            Part-time position held alongside academic study at school and university
            Worked efficiently and enjoyably as part of a team of bar staff
            Learnt to deal with stress, a demanding workload and physical strain
        </p>
    </div>
{{/partial}}
{{> base}}