{{#partial "content"}}
    <div class="row">
        <div class="col-xs-8">
            <p>
                The Naked Gardener, established 2013, is a small garden maintenance business founded by Cameron Strange.
                A personable and hard working individual, The Naked Gardener offers a professional service at a competitive rate.
                Accepting both residential and commercial business in and around Saffron Walden, Thaxted and Great Bardfield.
                The Naked Gardener may be contacted via the <a href="/contact">contact form</a>.
            </p>
            <p>
                Services offered include:
            </p>
            <ul>
                <li>Hedge cutting</li>
                <li>Strimming</li>
                <li>Weeding</li>
                <li>Lawn mowing</li>
                <li>Garden/land clearance</li>
                <li>Painting</li>
                <li>Jetwashing</li>
            </ul>
        </div>
        <div class="col-xs-4">
            <img src="/resource/img/naked_gardener.png" alt="Naked Gardener"/>
        </div>
    </div>
{{/partial}}
{{> base}}